<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Books</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Author</th>
            <th>Publisher</th>
        </tr>
        {% for book in books %}
        <tr>
            <td>{{ book.name }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.publisher }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>